
.container{
  background-color: rgba(127, 255, 212, 0.313);
  border: .5px solid rgb(76, 215, 93);
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}
h1{
  text-align: center;
  color: black;
}
.footer{
  margin-left: 70px;
}